title = "Страница не найдена"
url = "/404"
layout = "main"
is_hidden = 0
==
<div class="astb-404">
    <div class="aste-404-logo"><img src="img/logo.svg" alt=""></div>
    <div class="aste-404-content">
        <div class="aste-primary">Ошибка 404</div>
        <div class="aste-secondary">Этой страницы не существет</div>
        <a href="/" class="aste-404-link">На главную</a>
    </div>
    <div class="aste-404-footer">Copyright © 2017 AS-Team. Все права защищены.</div>
</div>