title = "О компании"
url = "/company"
layout = "main"
is_hidden = 0

[builderList Social]
modelClass = "ASTeam\Company\Models\SocialComposition"
displayColumn = "procent,definition"
noRecordsMessage = "No records found"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList Years]
modelClass = "ASTeam\Company\Models\Year"
displayColumn = "age,blocks_procent"
noRecordsMessage = "No records found"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList GenderFamily]
modelClass = "ASTeam\Company\Models\GenderFamily"
displayColumn = "icon,procent,definition"
noRecordsMessage = "No records found"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[editable title_bold_marketing]
file = "company/title_bold_marketing.htm"

[editable title_definition_marketing]
file = "company/title_definition_marketing.htm"

[editable title_bold_about]
file = "company/title_bold_about.htm"

[editable title_definition_about]
file = "company/title_definition_about.htm"

[editable text_about]
file = "company/text_about.htm"

[editable title_bold_audience]
file = "company/title_bold_audience.htm"

[editable title_definition_audience]
file = "company/title_definition_audience.htm"

[editable text_audience]
file = "company/text_audience.htm"

[editable title_bold_screens]
file = "company/title_bold_screens.htm"

[editable title_definition_screens]
file = "company/title_definition_screens.htm"

[editable text_screens]
file = "company/text_screens.htm"
==
use ASTeam\Company\Models\CompanySettings;
function onStart()
{
    $collection = CompanySettings::first();
    if($collection)
    {
        $this['settings'] = $collection;
    }
}
==
{% set socials = Social.records %}
{% set years = Years.records %}
{% set families = GenderFamily.records %}

<div class="astb-company-first-screen">
    <h1 class="aste-primary">{% component 'title_bold_marketing' %}</h1>
    <h2 class="aste-secondary">{% component 'title_definition_marketing' %}</h2>
    {% if settings.first_slide %}
        <img src="{{ settings.first_slide|media }}" class="aste-first-screen-image">
    {% endif %}
</div>



<div class="astb-company-paging">
    <div class="aste-paging-navbar">
        <ul class="aste-navbar-list">
            <li class="aste-navitem"><a href="#page-1" class="aste-navlink">О компании</a></li>
            <li class="aste-navitem"><a href="#page-2" class="aste-navlink">Наша аудитория</a></li>
            <li class="aste-navitem"><a href="#page-3" class="aste-navlink">Наши экраны</a></li>
        </ul>
    </div>
    <div class="aste-company-page astm-page-1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 mx-auto">
                    <h2 class="aste-primary">{% component 'title_bold_about' %}</h2>
                    <h2 class="aste-secondary">{% component 'title_definition_about' %}</h2>
                    <p class="aste-page-text">{% component 'text_about' %}</p>
                </div>
                {% if settings.image_about_1 %}
                    <div class="col-12 col-md-6"><img src="{{ settings.image_about_1|media }}" alt="" class="aste-page-image"></div>
                {% endif %}
                {% if settings.image_about_2 %}
                    <div class="col-12 col-md-6"><img src="{{ settings.image_about_2|media }}" alt="" class="aste-page-image"></div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="aste-company-page astm-page-2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 mx-auto">
                    <h2 class="aste-primary">{% component 'title_bold_audience' %}</h2>
                    <h2 class="aste-secondary">{% component 'title_definition_audience' %}</h2>
                    <p class="aste-page-text">{% component 'text_audience' %}</p>
                    <div class="astb-social-graphs">
                        {% if socials|length > 0 %}
                            <div class="aste-social-graph">
                                <div class="aste-social-graph-title">Социальный состав</div>
                                <div class="row aste-social-graph-row">
                                    {% for itemSocial in socials %}
                                        <div class="col-6 col-md-3">
                                            <div class="aste-graph-item">
                                                <div class="aste-item-number">{{ itemSocial.procent }}</div>
                                                <div class="aste-item-title">{{ itemSocial.definition }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if families|length > 0 %}
                            <div class="aste-social-graph">
                                <div class="aste-social-graph-title">Пол и семья</div>
                                <div class="row aste-social-graph-row">
                                    {% for itemFamily in families %}
                                        <div class="col-6 col-md-3">
                                            <div class="aste-graph-item">
                                                <img src="{{ itemFamily.icon.path }}" alt="{{ itemFamily.icon.description }}" title="{{ itemFamily.icon.title }}" class="aste-item-image">
                                                <div class="aste-item-number">{{ itemFamily.procent }}</div>
                                                <div class="aste-item-title">{{ itemFamily.definition }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if years|length > 0 %}
                            <div class="aste-social-graph">
                                <div class="aste-social-graph-title">Возраст</div>
                                <div class="row aste-social-graph-row">
                                    {% for itemYear in years %}
                                        <div class="col-12 col-md-4">
                                            <div class="aste-graph-item">
                                                <div class="aste-item-label">{{ itemYear.age }}</div>
                                                {% if itemYear.blocks_procent %}
                                                    {% for itemBlock in itemYear.blocks_procent %}
                                                        <div class="aste-item-half">
                                                            <img src="{{ itemBlock.icon|media }}" alt="{{ itemBlock.icon.description | raw }}" title="{{ itemBlock.icon.title | raw }}" class="aste-item-image">
                                                            <div class="aste-item-number">{{ itemBlock.procent | raw }}</div>
                                                            <div class="aste-item-title">{{ itemBlock.definition | raw }}</div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aste-company-page astm-page-3" id="page-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 mx-auto">
                    <h2 class="aste-primary">{% component 'title_bold_screens' %}</h2>
                    <h2 class="aste-secondary">{% component 'title_definition_screens' %}</h2>
                    <p class="aste-page-text">{% component 'text_screens' %}</p>
                    {% if settings.image_screen %}
                        <img src="{{ settings.image_screen|media }}" alt="" class="aste-page-image">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>