title = "Контакты"
url = "/contacts"
layout = "main"
is_hidden = 0
==
use ASTeam\Company\Models\CompanySettings;
function onStart()
{
    $this['setting'] = CompanySettings::first();
}
==
<div class="astb-contacts">
    <div class="container">
        <div class="aste-primary">Связаться с нами</div>
        <div class="aste-secondary">Наши контакты</div>
        <div class="aste-map-info">
            <div class="aste-map" data-lat="{{ (setting.lat) ? setting.lat : '55.811600' }}" data-lng="{{ (setting.lng) ? setting.lng : '37.456668' }}"></div>
            <div class="aste-info">
                <div class="aste-info-title">Офис в Москве</div>
                <div class="aste-info-value">{{ setting.address }}</div>
                <div class="aste-info-title">Контактный телефон</div>
                <div class="aste-info-value">{{ setting.telephone }}</div>
                <div class="aste-info-title">Адрес электронной почты</div>
                <div class="aste-info-value">{{ setting.email_contacts }}</div>
            </div>
        </div>
    </div>
</div>
