title = "Документация"
url = "/docs"
is_hidden = 1
==
<div style="max-width: 850px; width: 100%; margin: auto; padding: 25px 0; font-family: Helvetica;">
    <a href="/backend/" style="display: block; margin-bottom: 25px;">Вернуться в админку</a>
    <h1>Документация для менеджеров</h1>
    <ol>
        <li>
            Раздел CMS
            <p>
                Раздел CMS предназначен для SEO-шников, чтобы изменить meta теги необходимо зайти в CMS->Страницы, выбрать страницу и выбрать вкладку meta.
            </p>
        </li>
        <li>
            Раздел Медиафайлы<br>
            <p>
                Здесь можно загрузить файлы, создать папки для будущих файлов сайта
                <span style="color: red;">Файлы должны быть на латинице</span>
            </p>
        </li>
        <li>
            Раздел Компания<br>
            <p>
                Чтобы отредактировать E-mail адреса для отправки почты, изображения на странице "Компания" зайдите в подраздел "Настройки компании"
            </p>
        </li>
        <li>
            Раздел Главная страница<br>
            <p>
                Здесь представлены: Слайдер для главной страницы, Блоки аудитории (находятся справа от текста компании), Промо-слайдер (двигающиеся экраны), Экраны (которые необходимо скролить)
            </p>
            <span style="color: red">В промо слайдере должно быть минимум 2 слайда.</span><br>
        </li>
        <li>
            Раздел Места размещения<br>
            <p>
                Здесь представлены блоки расположений рекламы, чтобы поместить блок на главную страницу (на слайдер) необходимо выбрать при создании/обновлении "Отображать на главной"
            </p>
        </li>
    </ol>
    <h2>Общие моменты</h2>
    <ol>
        <li>
            <p style="color: green">
                Чтобы редактировать текст страницы необходимо зайти на саму страницу (авторизованным) и навести на текст, появится иконка и обведется та область, которую можно отредактировать.
                Важное замечание, если вы не видите пробелов в редакторе это не значит что их там нету, это значит что редактор так тупо отображает шрифты, к сожалению с этим ничего не поделаешь.
            </p>
            <p>
                Также в редакторе можно редактировать ссылки, которые есть на главной странице, кликаете по иконке редактирования, НАЖИМАЕТЕ НА САМУ ссылку в редакторе, появится кнопка Edit, при нажатии откроется
                окно с редактированием параметров ссылки. <span style="color: red">Не удаляйте ссылку из редактора</span>
            </p>
        </li>
        <li>
            <p>
                В полях изображений ставьте МИНИМУМ те размеры, которые указаны в комментарии.
            </p>
        </li>
        <li>
            <p>
                Чтобы изменить порядок вывода элементов, есть специальная кнопка "Пересортировать элементы", заходите и переносите элементы с помощью Drag and Drop.
            </p>
        </li>
        <li>
            <p>
                Обязательные поля помечены красным квадратом.
            </p>
        </li>
        <li>
            <p>
                Чтобы изменить страницу контактов Компания->Настройки компании
            </p>
        </li>
    </ol>

    <h2>Как скопировать точки на карте</h2>
    <p>
        1. Заходим на Google Maps <a href="https://www.google.ru/maps">https://www.google.ru/maps</a>
    </p>
    <p>
        2. Ищем место которое хотим отметить, нажимаем правой кнопкой мыши и кликаем по элементу "Что здесь ?"
        <img src="{{ '/assets/img-docs/maps_1.png'|theme }}" style="display: block; margin: 15px 0;" alt="">
    </p>
    <p>
        3. Нажимаем на нижнем появившемся блоке на ссылку позиций, они отмечены в самом низу (цифры)
        <img src="{{ '/assets/img-docs/maps_2.png'|theme }}" style="display: block; margin: 15px 0;" alt="">
    </p>
    <p>
        Далее откроется левый блок с информацией о данной точке, первое значение - Долгота (lat), второе - Широта (lng)
        <img src="{{ '/assets/img-docs/maps_3.png'|theme }}" style="display: block; margin: 15px 0;" alt="">
    </p>
</div>