title = "Главная страница"
url = "/"
layout = "main"
is_hidden = 0

[builderList ProcentBlocks]
modelClass = "ASTeam\Mainpage\Models\Audience"
scope = "-"
displayColumn = "procent,definition"

[builderList PromoSlider]
modelClass = "ASTeam\Mainpage\Models\PromoSlider"
scope = "-"
displayColumn = "promo_pattern,promo_slide_image"

[builderList Screens]
modelClass = "ASTeam\Mainpage\Models\Screen"
scope = "-"
displayColumn = "title,text,url_link,text_link,image_screen,blocks_info"

[builderList Slider]
modelClass = "ASTeam\Mainpage\Models\Slider"
scope = "-"
displayColumn = "slide_image,title_bold,title_definition"

[editable title_bold_company]
file = "mainpage/title_bold_company.htm"

[editable title_definition_company]
file = "mainpage/title_definition_company.htm"

[editable text_company]
file = "mainpage/text_company.htm"

[editable link_about]
file = "mainpage/link_about.htm"

[editable link_audience]
file = "mainpage/link_audience.htm"

[editable title_bold_screens]
file = "mainpage/title_bold_screens.htm"

[editable title_definition_screens]
file = "mainpage/title_definition_screens.htm"

[editable text_screens]
file = "mainpage/text_screens.htm"

[editable title_bold_locations]
file = "mainpage/title_bold_locations.htm"

[editable title_definition_locations]
file = "mainpage/title_definition_locations.htm"
==

// Php Блок
use ASTeam\Locations\Models\Location;

function onStart()
{
    $this['locations'] = Location::where("index_page", "=", 1)->get();
}
==
{% set recordsProcents = ProcentBlocks.records %}

{% set recordsPromo = PromoSlider.records %}

{% set recordsScreens = Screens.records %}

{% set recordsSlider = Slider.records %}


<div class="astb-header-slider">
    <div class="aste-arrows">
        <div class="aste-arrow astm-left"></div>
        <div class="aste-container-sized-delimiter container"></div>
        <div class="aste-arrow astm-right"></div>
    </div>
    {% for itemSlider in recordsSlider %}
        <div class="aste-slider-block">
            <img class="aste-block-bg" src="{{ itemSlider.slide_image.path }}" />
            <div class="aste-block-shade"></div>
            <div class="aste-block-text">
                <h2 class="aste-primary">{{ itemSlider.title_bold }}</h2>
                <h3 class="aste-secondary">{{ itemSlider.title_definition }}</h3>
            </div>
        </div>
    {% endfor %}
</div>



<div class="astb-main-description">
    <div class="container aste-description-container">
        <div class="aste-description-left astm-border-right">
            <h1 class="aste-primary">{% component 'title_bold_company' %}</h1>
            <h2 class="aste-secondary">{% component 'title_definition_company' %}</h2>
            <p class="aste-description">{% component 'text_company' %}</p>
        </div>
        <div class="aste-description-right">
            <div class="aste-percentages">
                {% for itemProcent in recordsProcents %}
                    <div class="aste-percentage">
                        <div class="aste-number">{{ itemProcent.procent }}</div>
                        <div class="aste-percentage-title">{{ itemProcent.definition }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="aste-description-left astm-description-link">{% component 'link_about' %}</div>
        <div class="aste-description-right astm-description-link">{% component 'link_audience' %}</div>
    </div>
</div>



<div class="astb-screens-slider">
    <div class="aste-slider-track">
        {% for itemPromo in recordsPromo %}
            <div class="aste-screen-wrapper">
                <div class="aste-frame"><img src="{{ itemPromo.promo_pattern.path | resize(290,20) }}" alt="{{ itemPromo.promo_pattern.description }}" title="{{ itemPromo.promo_pattern.title }}"class="aste-frame-texture"></div>
                <div class="aste-screen"><img src="{{ itemPromo.promo_slide_image.path | resize(290,520) }}" alt="{{ itemPromo.promo_slide_image.description }}" title="{{ itemPromo.promo_slide_image.title }}" class="aste-screen-image"></div>
            </div>
        {% endfor %}
    </div>
</div>


<div class="astb-screens-info">
    <div class="aste-info-introductory">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 mx-auto">
                    <h2 class="aste-primary">{% component 'title_bold_screens' %}</h2>
                    <h3 class="aste-secondary">{% component 'title_definition_screens' %}</h3>
                    <p class="aste-introductory-text">{% component 'text_screens' %}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="aste-info-blocks">
        {% for itemScreen in recordsScreens %}
            <div class="aste-info-block">
                <div class="container">
                    <div class="row aste-block-row">
                        <div class="d-none d-lg-block col-2"></div>
                        <div class="col-4 col-lg-3">
                            <div class="aste-block-image-wrapper"><img src="{{ itemScreen.image_screen.path|raw|resize(270,478) }}" alt="{{ itemScreen.image_screen.description }}" class="aste-block-image"></div>
                        </div>
                        <div class="d-none d-sm-block col-sm-1"></div>
                        <div class="col-8 col-sm-7 col-lg-4">
                            <div class="aste-block-content">
                                {% if itemScreen.title %}
                                    <h4 class="aste-block-title">{{ itemScreen.title }}</h4>
                                {% endif %}
                                {% if itemScreen.text %}
                                    <p class="aste-block-text">{{ itemScreen.text }}</p>
                                {% endif %}
                                {% if itemScreen.blocks_info %}
                                    {% for itemBlockInfo in itemScreen.blocks_info %}
                                        <div class="aste-block-number">
                                            <div class="aste-number-label">{{ itemBlockInfo.title_block_info|raw }}</div>
                                            <div class="aste-number">{{ itemBlockInfo.content|raw }}</div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if itemScreen.url_link and itemScreen.text_link %}
                                    <a href="{{ itemScreen.url_link }}" class="aste-block-link">{{ itemScreen.text_link }} <img src="{{ 'assets/img/text-arrow.svg'|theme }}" /></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>



<div class="astb-accom-slider">
    <div class="container">
        <h2 class="aste-primary">{% component 'title_bold_locations' %}</h2>
        <h3 class="aste-secondary">{% component 'title_definition_locations' %}</h3>
        <div class="aste-accom-slider">
            {% for itemLocation in locations %}
                <div class="aste-slide">
                    <div class="aste-slide-image-wrapper"><img src="{{ itemLocation.image_preview|resize(350,230) }}" alt="{{ itemLocation.image_preview.description|raw }}" title="{{ itemLocation.image_preview.title|raw }}" class="aste-slide-image"></div>
                    <div class="aste-accom-title">{{ itemLocation.title|raw }}</div>
                    <div class="aste-accom-address">{{ itemLocation.address|raw }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>



<div class="astb-bottom-links">
    <a href="/locations/" class="aste-bottom-link astm-places">Все места</a>
    <a href="/contacts/" class="aste-bottom-link astm-contact">Свяжитесь с нами <img src="{{ 'assets/img/text-arrow.svg'|theme }}" /></a>
</div>