title = "Места размещения"
url = "/locations"
layout = "main"
is_hidden = 0
==

==
<div class="astb-locations">
    <div class="aste-listmap-switcher">
        <div class="aste-switcher-switch astm-switched astm-list">Списком</div>
        <div class="aste-switcher-switch astm-map">На карте</div>
    </div>
    <div class="aste-locations-list-wrapper">
        <h2 class="aste-locations-list-title">Жилые комплексы</h2>
        <ul class="aste-locations-list">
            <!-- Here be locations -->
        </ul>
    </div>
    <div class="aste-locations-map-wrapper">
        <div class="aste-locations-map"></div>
    </div>
    <div class="aste-locations-submit">Заказать размещение</div>
</div>




<div class="astb-popup">
    <div class="aste-popup-inner">
    </div>
    <div class="aste-subpopup"></div>
</div>