<div class="astb-footer">
    <div class="container aste-footer-container">
        <div class="aste-copyright-self">Copyright © 2017 AS-Team. Все права защищены.</div>
        <a href="https://plan-b.agency/" target="_blank" class="aste-copyright-dev">Разработано в Plan B</a>
    </div>
</div>
<!-- Scripts -->
<script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/scripts.js'|theme }}"></script>
{% framework extras %}
{% scripts %}
</body>
</html>