<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ 'assets/img/favicon.ico'|theme }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ 'assets/img/apple-icon-57x57.png'|theme }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ 'assets/img/apple-icon-60x60.png'|theme }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'assets/img/apple-icon-72x72.png'|theme }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ 'assets/img/apple-icon-76x76.png'|theme }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'assets/img/apple-icon-114x114.png'|theme }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ 'assets/img/apple-icon-120x120.png'|theme }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'assets/img/apple-icon-144x144.png'|theme }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ 'assets/img/apple-icon-152x152.png'|theme }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/img/apple-icon-180x180.png'|theme }}">
    <link rel="icon" type="image/png" sizes="36x36"  href="{{ 'assets/img/android-icon-36x36.png'|theme }}">
    <link rel="icon" type="image/png" sizes="48x48"  href="{{ 'assets/img/android-icon-48x48.png'|theme }}">
    <link rel="icon" type="image/png" sizes="72x72"  href="{{ 'assets/img/android-icon-72x72.png'|theme }}">
    <link rel="icon" type="image/png" sizes="96x96"  href="{{ 'assets/img/android-icon-96x96.png'|theme }}">
    <link rel="icon" type="image/png" sizes="144x144"  href="{{ 'assets/img/android-icon-144x144.png'|theme }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ 'assets/img/android-icon-192x192.png'|theme }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/img/favicon-16x16.png'|theme }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/img/favicon-32x32.png'|theme }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ 'assets/img/favicon-96x96.png'|theme }}">
    <link rel="manifest" href="{{ 'assets/img/manifest.json'|theme }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ 'assets/img/ms-icon-70x70.png'|theme }}">
    <meta name="msapplication-TileImage" content="{{ 'assets/img/ms-icon-144x144.png'|theme }}">
    <meta name="msapplication-TileImage" content="{{ 'assets/img/ms-icon-150x150.png'|theme }}">
    <meta name="msapplication-TileImage" content="{{ 'assets/img/ms-icon-310x310.png'|theme }}">
    <meta name="theme-color" content="#ffffff">
    <title>AS Team - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <link href="{{ 'assets/css/styles.css'|theme }}" rel="stylesheet">
    {% styles %}
</head>
<body>


{% if this.page.id != '404' %}
    <nav class="navbar navbar-expand-md astb-navbar {% if this.page.id == 'home' %}astm-main-page{% endif %}">
        <div class="container">
            <a href="/" class="navbar-brand aste-brand"><img src="{% if this.page.id == 'home' %}{{ 'assets/img/logo.svg'|theme }}{% else %}{{ 'assets/img/logo-colour.svg'|theme }}{% endif %}" alt="Залог Инвест"></a>
            <button class="navbar-toggler aste-navbar-toggler-button" type="button" data-toggle="collapse" data-target="#astNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon aste-navbar-toggler">
                <div class="aste-icon-bar"></div>
                <div class="aste-icon-bar"></div>
                <div class="aste-icon-bar"></div>
            </span>
            </button>
            <div class="collapse navbar-collapse aste-navbar-inner" id="astNavbar">
                <ul class="navbar-nav aste-navbar-list">
                    <li class="nav-item aste-navitem {% if this.page.id == 'company' %}astm-active{% endif %}">
                        <a class="nav-link aste-navlink" href="{{ 'company'|page }}">Компания</a>
                    </li>
                    <li class="nav-item aste-navitem {% if this.page.id == 'locations' %}astm-active{% endif %}">
                        <a class="nav-link aste-navlink" href="{{ 'locations'|page }}">Места размещения</a>
                    </li>
                    <li class="nav-item aste-navitem {% if this.page.id == 'contacts' %}astm-active{% endif %}">
                        <a class="nav-link aste-navlink" href="{{ 'contacts'|page }}">Связаться с нами</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}