<?php
use ASTeam\Company\Models\CompanySettings;
$model = CompanySettings::first();

if($model) {
?>
<div style="padding: 0 25px;">
    <?= Form::open(['class' => 'layout']) ?>

    <div class="layout-row">
        <div class="layout-row">
            <div class="form-group text-field span-left is-required">
                <label for="email1">E-mail #1</label>
                <input type="text" name="email1" id="email1" value="<?=($model->email1) ? $model->email1 : ''?>" placeholder="" class="form-control" autocomplete="off" maxlength="255">
            </div>
            <div class="form-group text-field span-right is-required">
                <label for="email2">E-mail #2</label>
                <input type="text" name="email2" id="email2" value="<?=($model->email2) ? $model->email2 : ''?>" placeholder="" class="form-control" autocomplete="off" maxlength="255">
            </div>
            <div class="form-group text-field span-left is-required">
                <label for="telephone">Телефон</label>
                <input type="text" name="telephone" id="telephone" value="<?=($model->telephone) ? $model->telephone : ''?>" placeholder="" class="form-control" autocomplete="off" maxlength="255">
            </div>
            <div class="form-group text-field span-right is-required">
                <label for="email_contacts">E-mail в контактах</label>
                <input type="text" name="email_contacts" id="email_contacts" value="<?=($model->email_contacts) ? $model->email_contacts : ''?>" placeholder="" class="form-control" autocomplete="off" maxlength="255">
            </div>
            <div class="form-group text-field span-full is-required">
                <label for="address">Адрес компании</label>
                <input type="text" name="address" id="address" value="<?=($model->address) ? $model->address : ''?>" placeholder="" class="form-control" autocomplete="off" maxlength="255">
            </div>
            <div class="form-group text-field span-left is-required">
                <label for="lat">Долгота (lat) карты</label>
                <input type="text" name="lat" id="lat" value="<?=($model->lat) ? $model->lat : ''?>" placeholder="" class="form-control" autocomplete="off" maxlength="255">
            </div>
            <div class="form-group text-field span-right is-required">
                <label for="lng">Широта (lng) карты</label>
                <input type="text" name="lng" id="lng" value="<?=($model->lng) ? $model->lng : ''?>" placeholder="" class="form-control" autocomplete="off" maxlength="255">
            </div>
            <!-- Изображение "Первый экран" -->
            <div class="form-group widget-field span-left is-required">
                <label>Изображение "Первый экран" (первая секция страница Компания)</label>

                <!-- Widget -->
                <div class="field-mediafinder style-image-single is-image <?=($model->first_slide) ? 'is-populated' : '' ?>" data-control="mediafinder" data-disposable="">

                    <!-- Find Button -->
                    <a href="javascript:;" class="find-button">
                        <span class="find-button-icon oc-icon-image"></span>
                    </a>

                    <!-- Existing value -->
                    <div class="find-object">
                        <div class="icon-container">
                            <img data-find-image="<?=($model->first_slide) ? '/storage/app/media'.$model->first_slide : '' ?>" src="<?=($model->first_slide) ? '/storage/app/media'.$model->first_slide : '' ?>" alt="">
                        </div>
                        <div class="info">
                            <h4 class="filename">
                                <span data-find-file-name=""><?=($model->first_slide) ? $model->first_slide : '' ?></span>
                                <a href="javascript:;" class="<?=($model->first_slide) ? 'find-remove-button' : 'find-button' ?>">
                                    <i class="icon-times"></i>
                                </a>
                            </h4>
                        </div>
                    </div>

                    <!-- Data locker -->
                    <input type="hidden" name="first_slide" value="<?=($model->first_slide) ? '/storage/app/media'.$model->first_slide : '' ?>" data-find-value="">
                </div>

            </div>
            <!-- Изображение О компании №1 -->
            <div class="form-group widget-field span-right is-required">
                <label>Изображение О компании №1</label>

                <!-- Widget -->
                <div class="field-mediafinder style-image-single is-image <?=($model->image_about_1) ? 'is-populated' : '' ?>" data-control="mediafinder" data-disposable="">

                    <!-- Find Button -->
                    <a href="javascript:;" class="find-button">
                        <span class="find-button-icon oc-icon-image"></span>
                    </a>

                    <!-- Existing value -->
                    <div class="find-object">
                        <div class="icon-container">
                            <img data-find-image="<?=($model->image_about_1) ? '/storage/app/media'.$model->image_about_1 : '' ?>" src="<?=($model->image_about_1) ? '/storage/app/media'.$model->image_about_1 : '' ?>" alt="">
                        </div>
                        <div class="info">
                            <h4 class="filename">
                                <span data-find-file-name=""><?=($model->image_about_1) ? $model->image_about_1 : '' ?></span>
                                <a href="javascript:;" class="<?=($model->image_about_1) ? 'find-remove-button' : 'find-button' ?>">
                                    <i class="icon-times"></i>
                                </a>
                            </h4>
                        </div>
                    </div>

                    <!-- Data locker -->
                    <input type="hidden" name="image_1" value="<?=($model->image_about_1) ? '/storage/app/media'.$model->image_about_1 : '' ?>" data-find-value="">
                </div>

            </div>
            <!-- Изображение О компании №2 -->
            <div class="form-group widget-field span-left is-required">
                <label>Изображение О компании №2</label>

                <!-- Widget -->
                <div class="field-mediafinder style-image-single is-image <?=($model->image_about_2) ? 'is-populated' : '' ?>" data-control="mediafinder" data-disposable="">

                    <!-- Find Button -->
                    <a href="javascript:;" class="find-button">
                        <span class="find-button-icon oc-icon-image"></span>
                    </a>

                    <!-- Existing value -->
                    <div class="find-object">
                        <div class="icon-container">
                            <img data-find-image="<?=($model->image_about_2) ? '/storage/app/media'.$model->image_about_2 : '' ?>" src="<?=($model->image_about_2) ? '/storage/app/media'.$model->image_about_2 : '' ?>" alt="">
                        </div>
                        <div class="info">
                            <h4 class="filename">
                                <span data-find-file-name=""><?=($model->image_about_2) ? $model->image_about_2 : '' ?></span>
                                <a href="javascript:;" class="<?=($model->image_about_2) ? 'find-remove-button' : 'find-button' ?>">
                                    <i class="icon-times"></i>
                                </a>
                            </h4>
                        </div>
                    </div>

                    <!-- Data locker -->
                    <input type="hidden" name="image_2" value="<?=($model->image_about_2) ? '/storage/app/media'.$model->image_about_2 : '' ?>" data-find-value="">
                </div>

            </div>
            <!-- Изображение "Наши экраны" -->
            <div class="form-group widget-field span-right is-required">
                <label>Изображение "Наши экраны"</label>

                <!-- Widget -->
                <div class="field-mediafinder style-image-single is-image <?=($model->image_screen) ? 'is-populated' : '' ?>" data-control="mediafinder" data-disposable="">

                    <!-- Find Button -->
                    <a href="javascript:;" class="find-button">
                        <span class="find-button-icon oc-icon-image"></span>
                    </a>

                    <!-- Existing value -->
                    <div class="find-object">
                        <div class="icon-container">
                            <img data-find-image="<?=($model->image_screen) ? '/storage/app/media'.$model->image_screen : '' ?>" src="<?=($model->image_screen) ? '/storage/app/media'.$model->image_screen : '' ?>" alt="">
                        </div>
                        <div class="info">
                            <h4 class="filename">
                                <span data-find-file-name=""><?=($model->image_screen) ? $model->image_screen : '' ?></span>
                                <a href="javascript:;" class="<?=($model->image_screen) ? 'find-remove-button' : 'find-button' ?>">
                                    <i class="icon-times"></i>
                                </a>
                            </h4>
                        </div>
                    </div>

                    <!-- Data locker -->
                    <input type="hidden" name="image_screen" value="<?=($model->image_screen) ? '/storage/app/media'.$model->image_screen : '' ?>" data-find-value="">
                </div>

            </div>
        </div>
    </div>

    <button
        type="submit"
        data-request="onUpdateSettings"
        data-hotkey="ctrl+s, cmd+s"
        data-load-indicator="Сохранение..."
        class="btn btn-primary">
        Обновить
    </button>

    <?= Form::close() ?>
</div>

<?php } else { ?>
    <p style="padding-left: 50px;">Запись в базе данных не найдена, обратитесь к админу.</p>
<?php } ?>